body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    box-sizing: unset !important;
}
/* sjhdbkjsdsljs */

.space{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;

}

/* Hide Calendar Icon In Chrome 
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }*/



.send {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

button {
    width: 70px;
    padding: 5px;
}


form {
    max-width: 800px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(93, 156, 112, 0.1);
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
}

.inside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

label {
    font-size: larger;
    font-weight: 600;
}

form input {
    margin-right: 10px;
    font-size: 1rem;
    margin-top: 15px;
    padding: 5px;
    height: 40px;
    width: 300px;
}

select {
    height: 55px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;

}


center {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0;
}

.input {
    display: flex;
    flex-direction: column;
}

.dropdown{
    width: 250px;
}


textarea {
    width: 300px;
}

/* .relative {
    position: relative;
} 
.absolute {
    position: absolute;
    right: 5px;
    top: 20px;
}  */

.show {
    display: flex !important;
}

.assigned_button {
    background-image: url(iconplus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #d8d8d8;
    margin-left: 5px;
}

.assigned_img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    top:48%;
    background-color: #F4F3FB;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    height: 54px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    min-height: 70px;
}


.dropdown{
    display: flex;
    justify-content: flex-end;
}



textarea {
    resize: none;
}

.image-container {
    display: flex;

}

@media(max-width:1000px) {
    form {
        min-width: 300px;
    }
}

@media(max-width:800px) {
    .row {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .form input, select, textarea {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .top {
        text-align: center;
        margin-top: 100px;
    }

    .dropdown-content {
        left: 18vw;
        margin-top: 0;
        top:63%;
    }
}

@media(max-width:500px) {


    form {
        padding: 5;
    }


    .inside {
        display: flex;
        align-content: center;
    }

    .dropdown-content {
        left:30px ;

    }
}