body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    box-sizing: unset !important;
}


.space {
    width: 100vw;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 24px;
}

.top h1{
    margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;

}

/* Hide Calendar Icon In Chrome 
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }*/



.send {
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
}

button {
    width: 70px;
    padding: 5px;
}


form {
    max-width: 800px;
    width: 75vw;
    min-width: 690px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(93, 156, 112, 0.1);
    padding: 24px;
    margin-top: 16px;
    margin-right: 32px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
}

.inside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

label {
    font-size: larger;
    font-weight: 600;
}

form input {
    margin-right: 10px;
    font-size: 1rem;
    margin-top: 15px;
    padding: 5px;
    height: 40px;
    width: 300px;
}

select {
    height: 55px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;

}


center {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0;
}

.input {
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 250px;
}


textarea {
    width: 300px;
}


.show {
    display: flex !important;
}

.assigned_button {
    background-image: url(iconplus.png);
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #d8d8d8;
}

.assigned_img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 0;
    right: 55px;
    background-color: #F4F3FB;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    height: 54px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    min-height: 70px;
}


.dropdown {
    display: flex;
    justify-content: flex-end;
    position: relative;
}



textarea {
    resize: none;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

#snackbar {
    visibility: hidden;
    font-size: 18px;
    min-width: 240px;
    margin-left: -125px;
    background-color: rgb(93, 156, 112);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    transition: all 125ms ease-in-out;
}

#snackbar.showSnack {
    visibility: visible;
    transform: scale(1.2);
}


@media(max-width:900px) {

    .space{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form{
        width: 100%;
        min-width: 0;
    }

    .row {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .form input, select, textarea {
        margin-top: 0;
        margin-bottom: 10px;
        min-width: 230px !important;
        width: 0 !important;
    }

    .form input {
        width: 0 !important;
        margin-right: 0 !important;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media(max-width:768px) {
    .space {
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    form {
        padding: 8px !important;
        width: 90vw !important;
        margin-right: 0;
    }

    .dropdown {
        justify-content: center !important;
    }

    .dropdown-content {
        top: 48px;
        right: 0;
    }

    .inside {
        display: flex;
        align-content: center;
    }

    .send {
        margin-top: 90px;
    }


}