body{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}
/* Hide Calendar Icon In Chrome 
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }*/ 

.space{
    margin: 200px;
}

button{
    width: 70px;
    padding: 5px;
}

.text-color{
    color: rgb(30, 49, 144);
}

form{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(240, 248, 256);
    padding: 30px;
    margin-top: 50px;
}

.inside {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

label{
    font-size: larger;
    font-weight: 600;
    color: rgb(30, 49, 144);
}
form input{
    font-size: 1rem;
    margin-top: 15px;
    padding: 5px;
    height: 40px;
    width: 300px;
    z-index: 10;
}

select{
    height: 55px;
    width: 320px;
    padding: 5px;
    
}

center{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.input{
    display: flex;
    flex-direction: column;
}

textarea{
    width: 300px;
}

.relative {
    position: relative;
}

.absolute{
    position: absolute;
    right: 5px;
    top: 20px;
}

.assigned_button{
    background-image: url(img\iconplus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #d8d8d8;
    margin-left: 5px; 
}

.assigned_img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 60px;
    height: 54px;
    align-items: center;
    border-radius: 21px;
    padding: 10px;
}


.show {
    display: flex !important;
}
