.backlog {
    width: 84vw;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
}

.backlogHeader {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.backlogHeaderText {
    font-size: 32px;
    font-weight: bold;
}

.backlogContent {
    width: 80vw;
}

.backlogContentHeader {
    display: flex;
    justify-content: space-between;
}

.backlogContentHeaderElementTitle {
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 39%;
}

.backlogMeta {
    display: flex;
}

.backlogContentHeaderElement {
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    min-width: 22.5%;
}

.backlogContentHeaderElementContainer {
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 15%;
}

.backlogContentTaskAsElement {
    width: 30vw;
    height: 100%;
}

.backlogElementField {
    display: flex;
    align-items: center;
    padding: 4px;
    min-height: 10vh;
    width: 75vw;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: rgb(239, 245, 241);
    border-radius: 25px;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
}

.backlogElementTitleDescription {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 38%;
    max-width: 38%;
}

.titleElement {
    font-weight: bold;
    margin-bottom: 8px;
}

.descriptionElement {
    font-size: 12px;
}

.backlogElement {
    max-height: 65px;
    overflow-y: auto;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 22.5%;
}

.backlogElementContainer {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 12%;
}

.backlogElementBtn {
    width: 30px;
    height: 30px;

}

.backlogElementBtn:hover {
    cursor: pointer;
}

.backlogImg {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.d-none {
    display: none !important;
}

.border-left-High {
    border-left-style: solid;
    border-left-color: rgb(222, 78, 78);
    border-left-width: 10px;
}

.border-left-Middle {
    border-left-style: solid;
    border-left-color: rgb(237, 158, 0);
    border-left-width: 10px;
}

.border-left-Low {
    border-left-style: solid;
    border-left-color: rgb(83, 118, 201);
    border-left-width: 10px;
}

.emptyArray {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

#backlogSnackbar {
    visibility: hidden;
    font-size: 18px;
    min-width: 240px;
    margin-left: -125px;
    background-color: rgb(93, 156, 112);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    transition: all 125ms ease-in-out;
}

#backlogSnackbar.showSnack {
    visibility: visible;
    transform: scale(1.2);
}


.backlog-card-edit {
    min-width: 60%;
    position: absolute;
    z-index: 4;
    border-radius: 6px;
    background-color: white;
    color: black;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 60%);
    background-color: rgb(238, 245, 240);
    top: 25%;
    left: 25%;
}

.backlog-meta-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}


.textField {
    min-width: 92.5%;
    margin: 8px;
}

.backlogBackground {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 3;
    background-color: black;
    opacity: 0.8;
}


/*Responsive props for backlog*/
@media (max-width: 768px) {
    .backlog {
        margin-left: 0px !important;
        width: 100vw !important;
        margin-top: 100px;
    }

    .backlogHeader {
        margin-right: 8px;
        margin-left: 8px !important;
        margin-bottom: 16px !important;
        align-items: center;
        justify-content: center;
    }

    .backlogHeaderText {
        font-size: 24px !important;
    }

    .backlogHeaderSubtext {
        font-size: 13px;
    }

    .backlogContentHeader {
        display: none !important;
    }

    .backlogContent {
        margin-left: 8px !important;
        margin-right: 8px;
        width: 95vw !important;
    }

    .backlogElementField {
        display: block !important;
        padding-top: 6px;
        padding-right: 6px;
        padding-left: 6px;
        padding-bottom: 8px;
        width: 95vw !important;
        margin-top: 8px !important;
        margin-bottom: 0 !important;
    }

    .backlogElement {
        min-width: 95% !important;
        margin-bottom: 4px;
        margin-left: 0 !important;
    }

    .backlogElementTitleDescription {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0 !important;
    }

    .backlogContentTaskAsElement {
        width: 0 !important;
    }

    .backlogImg {
        width: 45px;
        height: 45px;
    }

    .emptyArray {
        text-align: center;
        margin-left: 0 !important;
    }

    .backlog-card-edit {
        left: 10%;
        width: 80%;
    }
}

@media (max-width: 300px) {
    .backlog-card-edit {
        left: 9%;
    }
}