.backlog{
    width: 84vw;
    margin-left: 8px;
}

.backlogHeader{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 24px;
}

.backlogHeaderText{
    font-size: 32px;
    font-weight: bold;
    margin-top: 24px;
}

.backlogContent{
    margin-left: 16px;
    width: 80vw;
}

.backlogContentHeader{
    display: flex;
    justify-content: space-between;
}

.backlogContentHeaderElementTitle{
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 40%;
}

.backlogContentHeaderElement{
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 20%;
}

.backlogContentHeaderElementContainer{
    display: flex;
    justify-content: flex-start;
    color: rgb(93, 156, 112);
    font-size: 24px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 15%;
}

.backlogContentTaskAsElement{
    width: 30vw;
    height: 100%;
}

.backlogElementField{
    display: flex;
    align-items: center;
    min-height: 10vh;
    width: 80vw;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: rgb(239, 245, 241);
    border-radius: 25px;
}

.backlogElementTitle{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 40%;
}

.backlogElement{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 21%;
}

.backlogElementContainer{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 12%;
}

.backlogElementBtn{
    margin-left: 4px;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    
}

.backlogElementBtn:hover{
cursor: pointer;
}

.d-none{
    display: none;
}

.border-left-High{
    border-left-style: solid;
    border-left-color: rgb(222, 78, 78);
    border-left-width: 10px;
}

.border-left-Middle{
    border-left-style: solid;
    border-left-color: rgb(237, 158, 0);
    border-left-width: 10px;
}

.border-left-Low{
    border-left-style: solid;
    border-left-color: rgb(83, 118, 201);
    border-left-width: 10px;
}