/*CSS properties for the header template.*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
    margin-bottom: 24px;
    height: 94vh;
    width: 8rem;
    background-color: rgb(93, 156, 112);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px rgb(93, 156, 0.8);
}

.headerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headerProfile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    height: 40px;
    width: 40px;
}

.mainNav {
    display: flex;
    margin-bottom: 32px;
    margin-top: 32px;
}

.navbarLink {
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.navbarLink:hover {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbarLinkBottom {
    color: white;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbarLinkBottom:hover {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.navbarListitem {
    margin-bottom: 8px;
    margin-top: 8px;
    width: 89%;
    padding-left: 16px;
}

.navbarListitem:hover {
    border-left: 2px solid white;
    transition: 125ms ease-in-out;
}


.mobileMenu {
    font-size: 48px;
    color: white;
    text-decoration: none;
    align-self: center;
    display: none;
    cursor: pointer;
}


/*Responsive header part*/
@media (max-width: 1100px) {
    .header {
        width: 100vw !important;
        height: 5rem;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        position: fixed;
        z-index: 3;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .mobileMenu {
        display: block;
    }

    .board {
        flex-wrap: wrap;
        width: 100% !important;
        padding-bottom: 16px;
        margin-top: 80px;
    }

    .boardSection {
        height: 65vh;
        width: 100%;
    }

    .mainNav {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 8px !important;
        margin-bottom: 0 !important;
    }

    .navbar{
        background-color: rgb(125, 192, 145);
        display: none;
        margin-top: 7px;
    }

    .headerBottom {
        display: none;
    }
}