body {
    margin: 0;
    padding: 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}


/* Login */
.login-container{
    height: 100vh;
    font-size: 18px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 86px;
}

.logo-badge-container{
    position: relative;
    top: -40px;
    width: 130px;
    padding: 6px;
    display: flex;
    justify-content: center;
    background-color: rgba(30, 49, 144, 1);
    border-radius: 4px;
    animation-name: joinbounce;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes joinbounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-40px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.logo-badge {
    height: 45px;
    width: auto; 
}

#invalid-data{
    font-size: 16px;
    color: red;
    margin-bottom: 24px;
    text-align: center;
}

.d-none {
    display: none;
}

.login-area {
    width: 80vw;
    min-width: 250px;
    max-width: 350px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 60%);
}

.login-area input {
    text-align: center;
    margin-bottom: 16px;
    border: unset;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-family: 'PT Sans';
    font-size: 16px; 
    padding-right: 36px;  
}

.email-input{
    background: white url("/img/email.png")  no-repeat;
    background-position-x: 4px;
    background-position-y: center;
    background-size: 15px;
    padding-left: 36px;
}

.password-input{
    background: white url("/img/lock.png") left no-repeat;
    background-position-x: 4px;
    background-position-y: center;
    background-size: 15px;
    padding-left: 36px;
}

.user-img {
    width: 155px;
    height: 155px;
    background-image: url('/img/avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -24px;
    margin-bottom: 24px;
}

.login-btn {
    width: 100%;
    background-color: rgba(30, 49, 144, 0.6);
    border: unset;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 60%);
    color: white;
    padding: 6px;
    font-family: 'PT Sans';
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.login-btn:hover {
    background-color: rgba(30, 49, 144, 0.8);
}