body {
    margin: 0;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}


/* Login */
.login-container {
    height: 100vh;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 86px;
}

.logo-badge-container {
    position: relative;
    top: -40px;
    width: 130px;
    padding: 6px;
    display: flex;
    justify-content: center;
    background-color: rgba(93, 156, 112, 1);
    border-radius: 4px;
    animation-name: joinbounce;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes joinbounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-40px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.logo-badge {
    height: 45px;
    width: auto;
}

#invalid-data {
    font-size: 16px;
    color: red;
    margin-bottom: 24px;
    text-align: center;
}

.d-none {
    display: none;
}

.login-area {
    width: 80vw;
    min-width: 250px;
    max-width: 350px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 60%);
}

.login-area input {
    text-align: center;
    margin-bottom: 16px;
    border: unset;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-family: 'PT Sans';
    font-size: 16px;
    padding-right: 18px;
}

.email-input {
    background: white url("/img/email.png") no-repeat;
    background-position-x: 4px;
    background-position-y: center;
    background-size: 15px;
    padding-left: 36px;
}

.password-input {
    background: white url("/img/lock.png") left no-repeat;
    background-position-x: 4px;
    background-position-y: center;
    background-size: 15px;
    padding-left: 36px;
}

.user-img {
    width: 155px;
    height: 155px;
    background-image: url('/img/avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -24px;
    margin-bottom: 24px;
}

.login-btn {
    width: 100%;
    background-color: rgba(93, 156, 112, 0.9);
    border: unset;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 60%);
    color: white;
    padding: 6px;
    font-family: 'PT Sans';
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.login-btn:hover {
    background-color: rgba(93, 156, 112, 0.8);
}

.legal-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #ccc;
}

.legal-links a {
    text-decoration: none;
    margin-top: 8px;
    color: rgba(93, 156, 112, 1);
    cursor: pointer;
}

.legal-content a {
    color: rgba(93, 156, 112, 1);
    text-decoration: none;
}

#legal-modal-imprint, #legal-modal-dataprotection {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback */
    background-color: rgba(0, 0, 0, 0.4);
    word-break: break-word;
}

.legal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 90%;
    overflow: auto;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 60%);
}

.close {
    position: sticky;
    top: 0px;
    color: #aaaaaa;
    float: right;
    font-size: 68px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Responsive*/
@media (max-width: 576px) {
    .legal-content {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .legal-content {
        font-size: 7px;
    }
}